@model App.Web.ViewModels.FacilityViewModel

@{
    ViewBag.Title = "LMK Maintenance";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/error-notifier.css" rel="stylesheet" />

<script src="~/Scripts/knockout-3.1.0.debug.js"></script>

@Scripts.Render("~/Scripts/jqueryNotification.js")
@Scripts.Render("~/Scripts/jquery.blockUI.js")
@Scripts.Render("~/Scripts/AppCommonScript.js")
<script src="~/Scripts/jquery.cookie.js"></script>

<div class="modal fade" style="margin-left: 29%;" id="modelSelectImage">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Image</h4>
            </div>

            <div class="modal-body">
                <label for="photo">Image :</label>
                <input type="file" accept="image/*" data-bind="files: imageFile, fileObjectURL: imageObjectURL, fileBinaryData: imageBinary" required />
                <div data-bind="if: imageObjectURL">
                    <img id="imgAdd" data-bind="attr: { src: imageObjectURL }" style="height: 175px;margin-left: 140px;width: 260px" />
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" data-bind="click:SubmitImage" value="Upload" class="btn btn-lg btn-info" data-dismiss="modal" />
                <button id="btnModelClose" data-bind="click:CancelUpload" type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Close</button>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" style="margin-left: 29%;" id="myModal2">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add default Facilty Image</h4>
            </div>
            <div class="modal-body">

                <form id="ImgUpload" action="/Facility/UploadEdit" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="FacilityId" name="FacilityId" />
                    <label for="photo">Facilty Photo:</label>
                    <input type="file" name="photo" accept="Images" id="photo" />

                    <input type="submit" value="Upload" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div style="margin-top:-7%">
    <div class="widget box">
        <div class="widget-header">
            <h4><i class="icon-reorder"></i>Edit Facility</h4>
        </div>
        <div class="widget-content">
            <form class="form-horizontal row-border" action="#">
                <div data-bind="foreach: List" id="divFacilityEdit">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Facility Image</label>
                            <div class="controls">
                                <a data-toggle="modal" href="#modelSelectImage"><img id="imgFacility" style="margin-top: -1%;" width="200" height="200" data-bind="attr:{src:Facility_Image_dir}" /></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Facility Name</label>
                            <div class="controls">
                                <input id="fagilityName" type="text" class="form-control input-width-xlarge" data-bind="value: Facility_Name" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Facility Type</label>
                            <div class="controls">
                                <input id="facilitytype" type="text" class="form-control input-width-xlarge" data-bind="value: Facility_Type" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Facility Description</label>
                            <div class="controls">
                                <input id="facilitydesc" class="form-control input-width-xlarge" type="text" data-bind="value: Facility_descr" />
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="controls">
                                <input id="btnCreate" type="button" value="Update" data-bind="click: Edit" class="btn btn-primary btn-medium" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/Facility/EditFacility.js"></script>
<script src="~/Scripts/Master.js"></script>