

@{
    ViewBag.Title = "Aborted";
    Layout = "~/Views/Shared/_Consumer.cshtml";
}

<div class="wrap">
    <div class="payment-cancellation">
        <div><img src="~/Content/Consumer/images/brocken_card.png" alt=""></div>
        <div class="payment-cancellation-desc">Sorry...! Your payment transaction<br> aborted, book again</div>
      
        <div class="go-back"><a href="http://www.lastminutekeys.com/Home">Go Back</a></div>
    </div>
</div>
<link href="~/Content/Consumer/css/custom-style.css" rel="stylesheet" />