
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_DefaultConsumer.cshtml";
}

<div class="about-us-page">
    <section class="about-desc">
        <div class="wrap">
            <h2>About Last Minute Keys</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor odio id quam euismod, eu porta odio mollis. Aenean nunc nibh, auctor a ultrices nec, aliquet at justo. Praesent a erat metus. Vivamus ut felis tincidunt, commodo nunc vel, scelerisque augue. Vestibulum sed laoreet felis. Proin pulvinar in leo eu finibus. Praesent finibus lacinia consectetur. Nam molestie ipsum eget luctus congue. Maecenas nec purus et diam accumsan auctor. Donec a sagittis velit. Pellentesque sit amet massa at nunc efficitur ultricies vel efficitur massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consequat nisl nec bibendum pulvinar. Praesent mollis vehicula dolor, et mattis purus ultricies vestibulum.</p>
            <div class="about-desc-grids">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="~/Content/Consumer/images/box.png" title="Promo Code" alt="" />
                        </div>
                        <h2>Our Speciality is Camouflage Deals <span>!!!</span></h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor odio id quam euismod, eu porta odio mollis. Aenean nunc nibh, auctor a ultrices nec, aliquet at justo. Praesent a erat metus. Vivamus ut felis tincidunt, commodo nunc vel, scelerisque augue. Vestibulum sed laoreet felis. Proin pulvinar in leo eu finibus. Praesent finibus lacinia consectetur. Nam molestie ipsum eget luctus congue. Maecenas nec purus et diam accumsan auctor. Donec a sagittis velit. Pellentesque sit amet massa at nunc efficitur ultricies vel efficitur massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="about-img">
                            <img src="~/Content/Consumer/images/Promotion-Icon.png" title="Promo Code" alt="" />
                        </div>
                        <h2>Get Your Promo Code <span>!!!</span></h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor odio id quam euismod, eu porta odio mollis. Aenean nunc nibh, auctor a ultrices nec, aliquet at justo. Praesent a erat metus. Vivamus ut felis tincidunt, commodo nunc vel, scelerisque augue. Vestibulum sed laoreet felis. Proin pulvinar in leo eu finibus. Praesent finibus lacinia consectetur. Nam molestie ipsum eget luctus congue. Maecenas nec purus et diam accumsan auctor. Donec a sagittis velit. Pellentesque sit amet massa at nunc efficitur ultricies vel efficitur massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consequat nisl nec bibendum pulvinar.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="investors">
        <div class="wrap">
            <h2>Investors</h2>
            <ul>
                <li><img src="~/Content/Consumer/images/cisco.png" title="Cisco" alt="" /></li>
                <li><img src="~/Content/Consumer/images/reliance.png" title="Reliance" alt="" /></li>
                <li><img src="~/Content/Consumer/images/instagram.png" title="Instagram" alt="" /></li>
                <li><img src="~/Content/Consumer/images/dominos.png" title="Domino's" alt="" /></li>
                <div class="clear"></div>
            </ul>
        </div>
    </section>

</div>

