
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CorporateLayout.cshtml";
}

<!-- Search For Hotels -->
<div class="search-criteria">
    <div class="wrap">
        <div class="search-for-hotels">
            <div class="hotel-banner-desc">
                <h2>Over <span>44000</span><br /> hotels in India</h2>
            </div>

            <div class="hotels-search">
                <h2>Search For Hotels</h2>
                <form id="formSearch">
                    <ul>
                        <li>
                            <div class="Search-filed icon-block">
                                <input hidden id="hdnLocationId" data-bind="value:City_Id" />
                                <i class="location-icon"></i><input type="text" id="txtLocation" name="Location" data-bind="value:Location" placeholder="Area, City" class="required" />
                            </div>
                        </li>

                        <li>
                            <div class="checkin_date icon-block">
                                <i class="calander-icon"></i>
                                <div class="input-group" id="CheckIn">
                                    <input type="text" id="txtCheckIn" name="RoomCheckIn" data-format="DD/MM/YYYY" data-bind="value:CheckIn" placeholder="Check In" class="form-control required" readonly />
                                    <span class="input-group-addon calendar-btn">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                            </div>

                            <div class="checkout_date icon-block">
                                <i class="calander-checkout-icon"></i>
                                <div class="input-group" id="CheckOut">
                                    <input type="text" id="txtCheckOut" name="RoomCheckOut" data-format="DD/MM/YYYY" data-bind="value:CheckOut" placeholder="Check Out" class="form-control required" readonly />
                                    <span class="input-group-addon calendar-btn">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>

                        <li>
                            <div class="select_rooms icon-block">
                                <i class="room-icon"></i>
                                @*<select id="country" onchange="change_country(this.value)" class="frm-field required">*@
                                @*<select class="frm-field required" data-bind="options: RoomSelectList , value: RoomCount"></select>*@
                                <input type="text" name="NoOfRoom" data-bind="value:RoomCount" maxlength="2" min="1" max="15" onkeypress='validate(event)' title="Should be Between 1 to 15" class="frm-field required" />
                            </div>

                            <div class="search_btn"><i class="search-icon"></i><input type="submit" value="Search" data-bind="click:SearchSubmit" /></div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</div>
<!-- End Search Criteria -->

<div class="content">
    <div class="wrap">
        <section id="divHiddenRecommended">
            <div class="content-top-grid">
                <h3>Hidden Gems</h3>
                <div class="comouflage-deal">
                    <img src="~/Content/Consumer/images/deal-img.jpg" title="Image Name" alt="" />
                    <div class="comouflage-deal-desc">
                        <p data-bind="text:HiddenGemsDescr"></p>
                        <div class="view-more">
                            <a href="#" onclick="GemsMore()">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-top-grid content-top-middle-grid">
                <h3 class="recomended">Recommended Hotels</h3><div class="view-more view-more2 view-more3"><a href="#" onclick="RecommendMore()">View More</a></div>
                <div class="recommended-deals">
                    <ul data-bind="foreach:RecommendedHotelsList">
                        <li>
                            <div class="recommended-deals-img">
                                <a href="#">
                                    <img data-bind="attr:{src:Image_Url,title:Prop_Name}" alt="" />
                                </a>
                            </div>
                            <div class="recommended-deals-desc">
                                <p data-bind="text:Prop_Name"></p>
                                <p data-bind="text:TempAllInOne"></p>
                            </div>
                            <div class="clear"></div>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="content-top-grid content-top-last-grid">
                <h3>Weekend Getaways</h3>
                <div class="hot-deal-list">
                    @*<div class="flexslider">
                            <ul class="slides" data-bind="foreach:RecommendedHotelsList">
                                <li>
                                    <div class="similar-hotel-img">
                                        <img data-bind="attr:{src:Image_Url,title:Prop_Name}" alt="" />
                                    </div>
                                    <div class="similar-hotel-desc hot-deal-desc">
                                        <h3><a href="#">Hotel Empire Cenntral</a></h3>
                                        <h4>Bangalore, Karnataka</h4>
                                        <section>
                                            <div class="left-block">
                                                <span class="similar-hotel-star-rate">
                                                    <label class="s1"></label>
                                                    <label class="s1"></label>
                                                    <label class="s1"></label>
                                                    <label class="s0"></label>
                                                    <label class="s0"></label>
                                                </span>
                                                <div class="hotel-reviews similar-hotel-review">
                                                    <ul>
                                                        <li class="review_icon"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <div class="review-total review-total2"><span class="review-count">600</span> Reviews</div>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <span class="old-price">₹ 3200</span>
                                                <h5><em>Starting </em><span class="new-price">₹ 2100</span></h5>
                                            </div>
                                            <div class="clear"></div>
                                        </section>
                                    </div>
                                </li>


                            </ul>
                        </div>*@
                </div>
            </div>
            <div class="clear"></div>
        </section>

        <section class="best-offer-bloock" id="divBestOffers">
            <h2>Best Offers <div class="view-more view-more2" style="display:inline-block;float:right;"><a href="#" onclick="offerMore()">View More</a></div></h2>

            <div class="flexslider">
                <ul class="slides" data-bind="foreach:BestOffersList">
                    <li class="item">
                        <div class="similar-hotel-img">
                            <a href="#">
                                <img data-bind="attr:{src:Image_Url,title:Prop_Name}" alt="">
                                <div class="header-strip2">
                                    <h3 data-bind="text:Prop_Name"></h3>
                                </div>
                            </a>
                        </div>
                        <div class="similar-hotel-desc best-offer-desc">
                            <section>
                                <div class="left-block">
                                    <span class="stars-count"><strong data-bind="text:StarRate"></strong> Stars</span>
                                    <span class="best-offer-star-rate" data-bind="foreach:StarRatingList">
                                        <label data-bind="css: MyStarClass,value:Star_Id"></label>
                                    </span>
                                </div>
                                @*<div class="right-block best-offer-price">
                                        <h5><em>Starting </em><span class="new-price">₹ 2100</span></h5>
                                    </div>*@
                                <div class="clear"></div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>



        </section>

        <section class="content-bottom-section">
            <div class="subscribe-block">
                <div class="subscribe-img">
                    <img src="~/Content/Consumer/images/subscribe-img.png" title="Subscribe" alt="" />
                </div>
                <div class="subscribe-desc">
                    <p>
                        Let us inform you <br />
                        about the <strong>New Deals</strong>
                    </p>
                    <form id="formSubscribe">
                        <input type="text" data-bind="value:Email" placeholder="Please enter your email" class="text-field">
                        <input type="submit" data-bind="click:SubscribeEmail" value="Subscribe">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="testimonials-block">
                <h2>Testimonials</h2>
                <div class="testimonial-list">

                    <div class="testimonial" id="testimonials">
                        <div class="testimonial-desc">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting more recently with desktop...</p>
                            <h3>Mark Johnson</h3>
                            <h5>info@demolink.org</h5>
                        </div>
                        <div class="testimonial-desc">
                            <p>Lorem Ipsum has been the industry's standard dummy text, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting...</p>
                            <h3>Johndoe</h3>
                            <h5>info@demolink.org</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </section>

    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $("#formSearch").validate({

            messages: {
                Location: "Please Select Location",
                RoomCheckIn: "Check In Date Required",
                RoomCheckOut: "Check Out Date Required",
                NoOfRoom: "Sould be Between 1 to 15",
            }
        });


    </script>

    @*<script type="text/javascript">
            $(function () {
                $('#CheckIn').datetimepicker({
                    pickTime: false,
                    defaultDate: "+1w",
                    minDate: 0,
                    firstDay: 0,
                    dateFormat: 'dd-mm-yy',
                    changeMonth: true,
                    numberOfMonths: 1,
                    onClose: function (selectedDate) {
                        var minDate = $(this).datepicker('getDate');
                        var newMin = new Date(minDate.setDate(minDate.getDate() + 1));
                        $("#CheckOut").datepicker("option", "minDate", newMin);
                    }

                });
                $('#CheckOut').datetimepicker({
                    pickTime: false,
                    defaultDate: "+1w",
                    minDate: '+2d',
                    changeMonth: true,
                    firstDay: 0,
                    dateFormat: 'dd-mm-yy',
                    numberOfMonths: 1,
                    onClose: function (selectedDate) {
                        var maxDate = $(this).datepicker('getDate');
                        var newMax = new Date(maxDate.setDate(maxDate.getDate() - 1));
                        $("#CheckIn").datepicker("option", "maxDate", newMax);
                    }
                });
            });
            $("#CheckIn").datepicker('setDate', '+1');
            $("#CheckOut").datepicker('setDate', '+8');
        </script>*@

    @*<script src="~/Content/Consumer/js/owl.carousel.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                var owl = $("#owl-demo");
                owl.owlCarousel({
                    autoPlay: true,
                    items: 3, //10 items above 1000px browser width
                    itemsDesktop: [1000, 4], //5 items between 1000px and 901px
                    itemsDesktopSmall: [900, 3], // 3 items betweem 900px and 601px
                    itemsTablet: [600, 2], //2 items between 600 and 0;
                    itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option

                });

                // Custom Navigation Events
                $(".next").click(function () {
                    owl.trigger('owl.next');
                })
                $(".prev").click(function () {
                    owl.trigger('owl.prev');
                })

            });
        </script>*@


    <script src="~/Content/Consumer/js/jquery.cycle.all.lat.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#testimonials')
            .cycle({
                fx: 'fade', // choose your transition type, ex: fade, scrollUp, scrollRight, shuffle
                pager: '#nav'
            });
        });
    </script>




    <script src="~/Scripts/Corporate/Search_index.js"></script>
}
<style>
    .error {
        font-size: 13px;
        color: #e9452a;
        padding-left: 50px;
    }

    .text-field.valid {
        border: 1px solid green;
    }

    .text-field.error {
        border: 1px solid red;
    }

    .form-control.valid {
        border: 1px solid green;
    }

    .form-control.error {
        border: 1px solid red;
    }
</style>
