@{
    ViewBag.Title = "my_account";
    Layout = "~/Views/Shared/_Consumer.cshtml";
}

<style>

    .BookingsDT tr td,th{
        font-size:13px !important;
    }
</style>

<link rel="shortcut icon" href="~/img/Splitted_Images/favicon.ico" type="image/x-icon" />
<link href="~/Content/Corporate/css/datatables.css" rel="stylesheet" />
<div class="my-account-page">
    <div class="my-account-header">
        <div class="wrap" id="headerName">
            <h2>Hi, <strong data-bind="text:User_Name"></strong></h2>
        </div>
    </div>
    <div class="my-account-details">
        <div class="wrap">
            <!--Vertical Tab-->
            <div id="VerticalTab">
                <ul class="resp-tabs-list hor_1">
                 
                    <li id="liProfile"><i class="profile-icon"></i> Profile</li>
                    <li style="display:none"><i class="overview-icon"></i> Overview</li>                    
                    <li id="liMybookingCorporate"><i class="booking-icon"></i>Corporates</li>
                    <li id="liMybooking"><i class="booking-icon"></i> My Bookings</li>
                    <li id="liReportCorporate"><i class="booking-icon"></i>Corporate Booking</li>
                    <li id="liSettings"><i class="settings-icon"></i> Change Password</li>
                </ul>
                <div class="resp-tabs-container">
                    <div>
                        <div class="account-details profile-details" id="divProfileInfo">
                            <h3>Profile Info <a class="edit-btn" href="#" data-bind="click:EditProfile"><i class="edit-icon"></i> Edit</a></h3>
                            <div class="account-desc" id="user_profileInfo">
                                <section>
                                    <div class="profile_img">
                                        @*<span><img src="~/Content/Consumer/images/profile_img.jpg" data-bind="attr:{title:User_Name}" alt="" /></span>*@
                                    </div>
                                    <div class="profile-desc">
                                        <h2 data-bind="text:User_Name"></h2>
                                        <ul>
                                            <li><span class="bold">Email Address</span><span data-bind="text:Cons_mailid"></span></li>
                                            <li><span class="bold">Mobile Number</span><span data-bind="text:Cons_Mobile"></span></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </section>
                            </div>
                        </div>

                        <!-- Edit Profile -->
                        <div class="account-details edit-details" style="display:none" id="divEditProfile">
                            <h3>Edit Profile</h3>
                            <div class="account-desc">
                                <h4>Personal Info</h4>
                                <form>
                                    <input type="hidden" data-bind="text:Cons_Id" />
                                    @*<div class="row row-fileds">
                            <span class="field-name field_name2">Title</span>
                            <span class="text_box text_box2">
                                <select class="text-field select-box">
                                    <option>Mr</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </span>
                            <div class="clear"></div>
                        </div>*@

                                    <div class="row row-fileds">
                                        <span class="field-name field_name2">First Name</span>
                                        <span class="text_box text_box2"><input type="text" class="text-field" data-bind="value:Cons_First_Name" disabled></span>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="row row-fileds">
                                        <span class="field-name field_name2">Last Name</span>
                                        <span class="text_box text_box2"><input type="text" class="text-field" data-bind="value:Cons_Last_Name" disabled></span>
                                        <div class="clear"></div>
                                    </div>

                                    @*<div class="row row-fileds">
                            <span class="field-name field_name2">Screen Name</span>
                            <span class="text_box text_box2"><input type="password" value="" class="text-field"></span>
                            <div class="clear"></div>
                        </div>*@

                                    <div class="row row-fileds">
                                        <span class="field-name field_name2">Date of Birth</span>
                                        <span class="text_box text_box2">
                                            <div class="input-group" id="checkin">
                                                <input type="text" class="text-field" id="peekDob" name="dob" data-format="DD/MM/YYYY" data-bind="value:Cons_Dob" />
                                                <span class="input-group-addon calendar-btn">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </span>
                                        <div class="clear"></div>
                                    </div>


                                    <div class="profile-edit-details">
                                        <h4>Contact Details</h4>

                                        <div class="row row-fileds">
                                            <span class="field-name field_name2">Email Address</span>
                                            <span class="text_box text_box2"><input type="text" class="text-field" data-bind="value:Cons_mailid" disabled></span>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="row row-fileds">
                                            <span class="field-name field_name2">Mobile Number</span>
                                            <span class="text_box text_box2"><input type="text" class="text-field" data-bind="value:Cons_Mobile" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" maxlength="10"></span>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="row row-fileds">
                                            <span class="field-name field_name2">City</span>
                                            <span class="text_box text_box2">
                                                <input type="text" id="txtCity" data-bind="value:Cons_City" class="text-field">
                                            </span>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="row row-fileds">
                                            <span class="field-name field_name2">Address</span>
                                            <span class="text_box text_box2 text_box3"><textarea class="text-field textarea-box" data-bind="value:Cons_Addr1"></textarea></span>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="row row-fileds">
                                            <span class="field-name field_name2">Location</span>

                                            <input hidden data-bind="value:Cons_City" id="hdnLocationId" />
                                            <span class="text_box text_box2"><input type="text" id="txtLocation" class="text-field" data-bind="value:Cons_Area"></span>
                                            <div class="clear"></div>
                                        </div>



                                        <div class="row row-fileds">
                                            <span class="field-name field_name2">Pincode</span>
                                            <span class="text_box text_box2"><input type="text" id="txtPincode" data-bind="value: Cons_Pincode" class="text-field" onkeypress="if (isNaN(String.fromCharCode(event.keyCode))) return false;" onblur="if (isNaN(String.fromCharCode(event.keyCode))) return false;" maxlength="6"></span>
                                            <div class="clear"></div>
                                        </div>

                                    </div>

                                    <div class="row row-fileds row-fileds2">
                                        <span class="text_box" style="text-align:right;">
                                            <input type="submit" value="Save Changes" class="submit-btn" data-bind="click:SaveChanges">
                                            <input type="reset" value="Back" class="cancel-btn" data-bind="click:DiscardChanges">
                                        </span>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>
                    <!-- Overview -->
                    <div id="divOverview">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="account-details booking-deals">
                                    <h3>Invoice History<p data-bind="text:OverviewDealsCount"></p></h3>
                                    <div class="account-desc" data-bind="foreach:OverviewList">

                                        <section class="booking_deals">
                                            <div class="booking-deal-img">
                                                <img data-bind="attr:{src:Prop_Image}" title="Image" alt="" />
                                            </div>
                                            <div class="booking-deal-desc">
                                                <section>
                                                    <div class="hotel_name">
                                                        <h5 data-bind="text:Prop_Name"></h5>
                                                        <h6 data-bind="text:Prop_Address"></h6>
                                                    </div>
                                                    <div class="booked-deal-rating">
                                                        <span class="similar-hotel-star-rate" data-bind="foreach:StarRatingList">
                                                            <label data-bind="css: MyStarClass"></label>
                                                        </span>
                                                        <p><span data-bind="text:CheckIn"></span> TO <span data-bind="text:CheckOut"></span></p>
                                                    </div>
                                                    <div class="clear"></div>
                                                </section>

                                                <div class="booking-room-desc">
                                                    <div class="hotel_name room-name">
                                                        <p data-bind="text:RoomName"></p>
                                                    </div>
                                                    <div class="booked-deal-rating">
                                                        <div class="hotel-reviews similar-hotel-review">
                                                            <ul class="hotel-reviews2">
                                                                <li class="review_icon"></li>
                                                                <li></li>
                                                                <li></li>
                                                                <li></li>
                                                                <li></li>
                                                                <li></li>
                                                            </ul>
                                                            <div class="review-total review-total2 review-total3"><span class="review-count">150</span> Reviews</div>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>

                                                <div class="booked-room_price">
                                                    <div class="room-price booked-room-price">
                                                        <h5><em>Room Price</em><span class="new-price">₹ </span><span class="new-price" data-bind="text:RoomPrice"></span></h5>
                                                    </div>
                                                    <div class="hotel_facilities booked-room-facilities">
                                                        <p>With These Facilities</p>
                                                        <ul data-bind="foreach:RoomFacilityList">
                                                            <li><img data-bind="attr:{src:Facility_Image_dir,title:FacilityName}" style="width:30px;height:30px"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>  
                                                            
                                            </div>
                                            <div class="clear"></div>
                                            <div>
                                                <input type="button" id="btnView" class="btn btn-info export-btn" value="View Invoice">
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 padding-none">
                                <div class="user-profile" id="user_profile">
                                    <div class="profile-img">
                                        @*<span><img src="~/Content/Consumer/images/profile-img.jpg" title="User Name" alt="" /></span>*@
                                        <h4 data-bind="text:User_Name"></h4>
                                    </div>
                                    <table>
                                        <tr>
                                            <th>Name</th> &nbsp;&nbsp;
                                            <td><strong data-bind="text:Cons_First_Name"></strong> <strong data-bind="text:Cons_Last_Name"></strong></td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td data-bind="text:Cons_mailid"></td>
                                        </tr>
                                        <tr>
                                            <th>Mobile</th>
                                            <td data-bind="text:Cons_Mobile"></td>
                                        </tr>
                                        <tr>
                                            <th>Points</th>
                                            <td>285</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="suggested-hotel">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="similar-hotel-img">
                                                    <img src="~/Content/Consumer/images/similar-hotel-img.jpg" title="Hotel Name" alt="">
                                                    <div class="header-strip">
                                                        <h2>Deals Suggested By Rwanda Rentals</h2>
                                                    </div>
                                                </div>
                                                <div class="similar-hotel-desc">
                                                    <h3>Hotel Empire Cenntral</h3>
                                                    <h4>Bangalore, Karnataka</h4>
                                                    <section>
                                                        <div class="left-block">
                                                            <span class="similar-hotel-star-rate">
                                                                <label class="s1"></label>
                                                                <label class="s1"></label>
                                                                <label class="s1"></label>
                                                                <label class="s0"></label>
                                                                <label class="s0"></label>
                                                            </span>
                                                            <div class="hotel-reviews similar-hotel-review">
                                                                <ul>
                                                                    <li class="review_icon"></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                                <div class="review-total review-total2"><span class="review-count">600</span> Reviews</div>
                                                            </div>
                                                        </div>
                                                        <div class="right-block">
                                                            <span class="old-price">₹ 3200</span>
                                                            <h5><em>Starting </em><span class="new-price">₹ 2100</span></h5>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </section>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="see-more"><a href="#">View More</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- Profile -->
                    
                    <!-- corporate -->

                    <div id="divMyBookingCorporate">
                        <div class="account-details booking-deals">
                            <h3>Corporates </h3>

                            <table class="table table-striped table-bordered table-hover table-checkable corporateTd">
                                <thead>
                                    <tr>
                                        <th>
                                            First_Name
                                        </th>
                                        <th>
                                            Last_Name
                                        </th>
                                        <th>
                                            mailid
                                        </th>

                                        <th>
                                            Mobile
                                        </th>
                                        <th>
                                            Company
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: corporates" id="corporateTd">
                                    <tr>

                                        <td data-bind="text: First_Name"></td>
                                        <td data-bind="text: Last_Name"></td>

                                        @*<td data-bind="text: Facility_Type"></td>*@
                                        <td data-bind="text: mailid"></td>
                                        <td data-bind="text: Mobile"></td>
                                        <td data-bind="text: Company"></td>



                                        @*<td data-bind="text: Facility_Active_flag"></td>*@


                                        @*<td>
                                <a style="cursor:pointer" data-bind="click: FacilityListVM.DeleteFacility">Delete</a>

                            </td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!-- My Bookings -->

                    <div id="divMyBooking">
                        <div class="account-details booking-deals">
                            <h3>Invoice History <p data-bind="text:BookingDealsCount"></p></h3>
                            <div class="account-desc" data-bind="foreach:BookingList">

                                <section class="booking_deals">
                                    <div class="booking-deal-img">
                                        <img data-bind="attr:{src:Prop_Image,title:Prop_Name}" alt="" style="width:173px;height:140px" />
                                    </div>
                                    <div class="booking-deal-desc">
                                        <section>
                                            <div class="hotel_name">
                                                <a href=""><h5 data-bind="text:Prop_Name,click:DT"></h5></a>
                                                <h6 data-bind="text:Prop_Address"></h6>
                                            </div>
                                            <div class="booked-deal-rating">
                                                <span class="similar-hotel-star-rate" data-bind="foreach:StarRatingList">
                                                    <label data-bind="css: MyStarClass"></label>
                                                </span>
                                                <p><span data-bind="text:CheckIn"></span> TO <span data-bind="text:CheckOut"></span></p>
                                            </div>
                                            <div class="clear"></div>
                                        </section>

                                        <div class="booking-room-desc">
                                            <div class="hotel_name room-name">
                                                <p data-bind="text:RoomName"></p>
                                            </div>
                                            <div class="booked-deal-rating">
                                                <div class="hotel-reviews similar-hotel-review">
                                                    <div class="hotel-reviews">
                                                        <img id="imgTripadv" data-bind="attr:{src:Trip_Rating}" src="http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.5-25743-5.png">
                                                        @*<a target="_blank" data-bind="attr:{href:Trip_Review_Url}" href="http://www.tripadvisor.com/ShowUserReviews-g297628-d608386-r264520394-Royal_Orchid_Resort_Convention_Centre-Bengaluru_Bangalore_Karnataka.html#review264520394">
                                                            
                                                        </a>*@
                                                        <a><span data-bind="text:Trip_Review"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="booked-room_price">
                                            <div class="room-price booked-room-price">
                                                <h5><em>Room Price</em><span class="new-price">₹ </span><span class="new-price" data-bind="text:RoomPrice"></span></h5>
                                            </div>
                                            <div class="hotel_facilities booked-room-facilities">
                                                <p>With These Facilities</p>
                                                <ul data-bind="foreach:RoomFacilityList">
                                                    <li><img data-bind="attr:{src:Facility_Image_dir,title:FacilityName}" style="width:30px;height:30px"></li>
                                                </ul>

                                            </div>
                                            <div class="clear"></div>
                                        </div>


                                        <ul class="message-options">
                                            <li>Get Invoice Information Via</li>
                                            <li><a href="#"><span data-bind="click:SendEmail">Email</span></a></li>
                                            <li><a href="#"><span data-bind="click:SendSMS">SMS</span></a></li>
                                            <li><a href="#" ><span data-bind="click:DT">View on Screen</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </section>

                            </div>
                        </div>

                    </div>

                    

                    <!-- Report -->

                    <div id="divreport">
                        <div class="widget box">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i> Booking Report</h4>
                            </div>



                            <div class="widget-content no-padding Report-Page" id="BookingsDT">

                                <div class="customize-fileds customize-fileds2">

                                    <label class="label-txt">Select Booking Status</label>

                                    <select id="BookingStatus" multiple>
                                        <option value="Success" selected>Success</option>
                                        <option value="Hold">Hold</option>
                                        <option value="Aborted">Aborted</option>
                                        <option value="Failure">Failure</option>
                                    </select>

                                    </div>
                                    <div class="customize-fileds">
                                        <div class="report-datepicker">
                                            <label>Booking Date Wise</label>
                                            <select hidden onchange="myFunction()" id="Days" style="display:none;" class="form-control input-width-xlarge"><option>30</option><option>60</option><option>90</option></select>
                                            <input type="text" placeholder="Report From" id="txtFrom" readonly />
                                            <input type="text" placeholder="Report To" id="txtTo" readonly />
                                            <input type="button" class="submit-btn" value="Submit" data-bind="click:$root.BindData()" />
                                        </div>
                                        <input type="button" id="btnmarginExport" class="btn btn-info export-btn" onclick="marginExcel()" value="Export">

                                        <div class="clear"></div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover table-checkable BookingsDT " style="padding-top:20px" id="example">
                                        <thead>
                                            <tr>

                                                <th>
                                                    BookingID
                                                </th>
                                                <th>
                                                    Destination
                                                </th>
                                                <th>
                                                    Property
                                                </th>
                                                <th>
                                                    Room Type
                                                </th>
                                                <th>
                                                    Booking Date
                                                </th>
                                                <th>
                                                    Checkin
                                                </th>
                                                <th>
                                                    Checkout
                                                </th>

                                                <th>
                                                    No. of Nights
                                                </th>
                                                <th>
                                                    Client Name
                                                </th>
                                                <th>
                                                    Client Mobile
                                                </th>

                                                <th>
                                                    Email Id
                                                </th>
                                                <th>
                                                    City of Origin
                                                </th>
                                                <th>
                                                    Rate
                                                </th>
                                                <th>
                                                    Service Tax
                                                </th>
                                                <th>
                                                    Total Amount
                                                </th>
                                                <th>
                                                    Booking Status
                                                </th>
                                                @*<th>
                            Options
                        </th>*@

                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: Bookings">
                                            <tr>
                                                <td data-bind="text: Invce_Num"></td>
                                                <td data-bind="text: Destination"></td>
                                                <td data-bind="text: Prop_Name"></td>
                                                <td data-bind="text: Room_Type"></td>
                                                <td data-bind="text: Invce_date"></td>
                                                <td data-bind="text: Checkin"></td>
                                                <td data-bind="text: Checkout"></td>
                                                <td data-bind="text: NumberofNights"></td>
                                                <td data-bind="text: Name"></td>
                                                <td data-bind="text: Mobile"></td>
                                                <td data-bind="text: Email"></td>
                                                <td data-bind="text: City"></td>
                                                <td data-bind="text: Rate"></td>
                                                <td data-bind="text: Tax"></td>
                                                <td data-bind="text: Amount"></td>
                                                <td data-bind="text: BookingStatus"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>

                    <!-- Settings -->
                    <div class="account-details" id="divSetting">
                        <h3>Change Password</h3>
                        <div class="account-desc" data-bind="foreach:SettingList">
                            @*<h4><i class="pass-icon"></i> Change Password</h4>*@
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="hidden" data-bind="value:Cons_Id">
                                        <div class="row row-fileds">
                                            <div class="col-md-4"><span class="field-name">Current Password</span></div>
                                            <div class="col-md-8"><span class="text_box"><input id="txtCurnt_Pswd" type="password" class="text-field" data-bind="value:Curnt_Pswd"></span></div>
                                        </div>

                                        <div class="row row-fileds">
                                            <div class="col-md-4"><span class="field-name">New Password</span></div>
                                            <div class="col-md-8"><span class="text_box"><input id="txtNewPassword" type="password" class="text-field" data-bind="value:NewPassword"></span></div>
                                        </div>

                                        <div class="row row-fileds">
                                            <div class="col-md-4"><span class="field-name">Confirm Password</span></div>
                                            <div class="col-md-8"><span class="text_box"><input id="txtConfirmPassword" type="password" class="text-field" data-bind="value:ConfirmPassword"></span></div>
                                        </div>
                                        <div class="row row-fileds row-fileds2">
                                            <div class="col-md-4"> </div>
                                            <div class="col-md-8">
                                                <span class="text_box">
                                                    <input type="submit" value="Submit" data-bind="click:Submit" class="submit-btn">
                                                    <input type="reset" value="Reset" class="cancel-btn" data-bind="click:Cancel">
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>

                            @*<div class="newsletter-section">
                                <h4><i class="subscribe-icon"></i> Subscribe Newslatter</h4>
                                <p>Get the LMK Newsletter for the best travel deals and latest news. And remember, we HATE spam as much as you do—we will never, ever, sell or share your email address with spammers.</p>
                                <div class="email-newsletter">
                                    <span class="field_name">Email Newsletter</span>

                                    <span class="text_box" style="display:inline-block;">
                                       
                                        <input type="submit" data-bind="click:ChangeEmailLatter" class="submit-btn" value="Subscribe/Unsubscribe">
                                    </span>
                                </div>
                            </div>*@

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Consumer/User_ProfileData.js"></script>

    @*<script type="text/javascript">
        $(function () {
            $('#peekDob').datetimepicker({
                pickTime: false
            });
        });
    </script>*@
}