
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_DefaultConsumer.cshtml";
}


<div class="main page_comming_soon">
    <div class="terms-conditions page-comming-soon">
        <div class="wrap">
            <h2>FAQ's</h2>
        </div>
        <div class="comming-soon">
            <img src="~/Content/Consumer/images/coming-soon.png" alt="" />
        </div>
    </div>
</div>

