
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_DefaultConsumer.cshtml";
}

<div class="main" style="min-height:inherit;">
    <div class="wrap">
        <div class="page-not-found">
            <div class="not-found"><img src="~/Content/Consumer/images/error-clock.gif" alt="" /></div>
        

            <div class="not-found-text">Sorry, Page not found!</div>
        </div>
    </div>
</div>
<!-- End Main Section -->

