@{
    ViewBag.Title = "Forgot_Password";
    Layout = "~/Views/Shared/_DefaultConsumer.cshtml";
}

<div class="signin-page">
    <section>
        <h2 class="forgot-heading">Forgot Password</h2>
        <div class="forgot-pass-desc">
            <p>Please enter your e-mail address & we will send you a confirmation mail to reset your password.</p>
        </div>
        <div class="signin-fields">
            <form id="forgotForm">
                <span><input id="Email" type="text" placeholder="Enter Your Email" data-bind="value:Cons_mailid" class="text-box"> </span>
                <span><input type="submit" value="Submit" data-bind="click:Submit" class="signin-btn"> </span>
                <span><a class="forgot-pass forgot-pass2" href="/Signin">Back to Login</a></span>
                
            </form>
        </div>
    </section>
</div>

@section scripts{
    <script src="~/Scripts/Consumer/ForgotPassword.js"></script>
}

