<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Rwanda Rentals :: Forgot password</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/custom-style.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
</head>

<body class="login-page">
<!-- Login Page -->
<div class="login-page-overlay"></div>
<div class="login-content">
  <div class="login-page-logo">
  <a href="#"><img src="images/logo.png" title="Rwanda Rentals" alt=""/> </a>
  </div>
  <div class="login-fields pass-fields">
  <h2>Forgot password</h2>
  
  <form>
  <div class="login-email-field">
   <img src="images/user-icon.png" alt="" />
  <input type="text" value="User ID/ Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User ID/ Email';}">
   </div>
  
  <div class="login-submit-field">
  <input type="submit" value="Submit">
  </div>
  
  </form>
  
  </div>

</div>
<!-- End Login Page -->
  <div class="footer">
  <p> ©Copyright 2015 Rwanda Rentals. All rights reserved.</p>
  </div>
</body>
</html>
